
.no-padding{
	padding:0px;
}
.box-padding{
	padding:15px;
}
.row1-categories{
	min-height:185px; 
	background-size: cover;	
	background-repeat: no-repeat;
}
.row2-categories{
	min-height:220px; 
	background-size: cover;	
	background-repeat: no-repeat;
}
.row3-categories{
	min-height:160px; 
	background-size: cover;	
	background-repeat: no-repeat;
}

.navbar {
	min-height:80px;
}
.center-menu ul{
	margin-top:15px;
}
.center-menu ul li {
	display:inline;
	padding:15px;
}
.site-title{
padding-top: 10px;
padding-left: 20px;
font-size:20px;
}